@model UrlAttendsViewModel
<div>
	@if (Model.User == "Admin")
	{
		<a class="btn btn-warning" asp-controller="Admin" asp-action="Admin">Admin</a>
	}
	<h1>@Model.Name</h1>
	<table border="1">
		<tr>
			<th>№</th>
			<th>Runs Number</th>
			<th>Score</th>
			<th>StartTime</th>
			<th>TestTime</th>
		</tr>
		@{
			var i = 1;
			foreach (var urlAttend in Model.UrlTestAttends)
			{
				<tr>
					<td>@i)</td>
					<td>@urlAttend.NumberOfRun</td>
					<td>@urlAttend.Point/@Model.MaxPoint</td>
					<td>@urlAttend.StartTimeTest</td>
					<td>@urlAttend.TestTime</td>
				</tr>
				i++;
			}
		}
	</table>
</div>