@model TestUpdatedViewModel
<div class="row">
	<h3>Edit Test</h3>
	<form asp-controller="Test" asp-action="Edit" enctype="multipart/form-data" method="post" class="form-horizontal">
		<br />
		<br />
		<div type="hidden" class="form-group">
			<div type="hidden" class="col-md-5">
				<input type="hidden" asp-for="Test.Id" class="from-control" />
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Test.Name"></label>
			<input asp-for="Test.Name" class="from-control" />
			<span asp-validation-for="Test.Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Test.TestTime"></label>
			<input asp-for="Test.TestTime" class="from-control" />
			<span asp-validation-for="Test.TestTime" class="text-danger"></span>
		</div><br />
		@{
			if (Model.Questions != null)
			{
				<table border="1">
					<tr>
						<th>№</th>
						<th>Text</th>
						<th>Edit</th>
						<th>Del</th>
					</tr>
					@{
						var i = 1;
						foreach (var question in Model.Questions)
						{
							<tr>
								<td>@i)</td>
								<td>@question.Text</td>
								<td><a asp-controller="Question" asp-action="Edit" asp-route-id="@question.Id" ><img src="@Model.ImgEdit" alt="Edit" width="30" height="30" /></a></td>
								<td><a asp-controller="Question" asp-action="Del" asp-route-id="@question.Id"><img src="@Model.ImgDel" alt="Del" width="30" height="30" /></a></td>
							</tr>
							i++;
						}
					}
				</table>
			}

			if (Model.Test != null)
			{
				<a class="btn btn-warning" asp-controller="Question" asp-action="Add" asp-route-testId="@Model.Test.Id">Add Question</a>
			}
			
		}
		<a class="btn btn-warning" asp-controller="Admin" asp-action="Admin">Admin</a>
		<input class="btn btn-success" type="submit" asp-route-id="@Model.Test.Id" value="Save Changes" />
	</form>
</div>