@model TestPageViewModel
	<div>
		<strong>@Model.Test.Name</strong><br />
		@{
			var i = 1;
			<div>
				@{
					foreach (var question in Model.Questions)
					{
						<div>
							<strong>@i)@question.Text</strong>
							@{
								if (Model.Answers[i - 1] != null)
								{
									var j = 1;
									foreach (var answer in Model.Answers[i - 1])
									{
										<div>
											<strong>@j)@answer.Text</strong>
											<a class="btn btn-warning" asp-controller="Test" asp-action="UpdatedAnswer" asp-route-id="@question.Id">Edit Answer</a>
										</div>
										j++;
									}
								}
								<a class="btn btn-warning" asp-controller="Test" asp-action="AddAnswer" asp-route-id="@question.Id">Add Answer</a>
								<br />
							}
						</div>
						<a class="btn btn-warning" asp-controller="Test" asp-action="UpdatedQuestions" asp-route-id="@question.Id">Edit Question</a>
						i++;
					}

					<a class="btn btn-warning" asp-controller="Test" asp-action="AddQuestions" asp-route-testId="@Model.Test.Id">AddQuestion</a>
					<br />
				}
			</div>
		}
		<a class="btn btn-warning" asp-controller="Test" asp-action="AddTest">Add new Test</a>
		<a class="btn btn-warning" asp-controller="Admin" asp-action="Exit">Exit</a>
	</div>