@model AdminTestViewModel
<div>
	<h1>Hello @Model.Admin.Name</h1>
	<a class="btn btn-warning" asp-controller="Test" asp-action="Add">Add Test</a>
	<table border="1">
		@{
			var i = 1;
			foreach (var test in Model.Tests)
			{
				<tr>
					<td>@i @test.Name</td>
					<td><a asp-controller="Test" asp-action="Edit" asp-route-Id="@test.Id"><img src="@Model.ImgEdit" alt="Edit" width="30" height="30" /></a></td>
					<td><a class="btn btn-warning" asp-controller="Admin" asp-action="AllUrlTest" asp-route-Id="@test.Id">All Url</a></td>
					<td><a class="btn btn-warning" asp-controller="Admin" asp-action="AddUrlTest" asp-route-Id="@test.Id">Add Url</a></td>
					<td><a asp-controller="Test" asp-action="Del" asp-route-Id="@test.Id"><img src="@Model.ImgDel" alt="Del" width="30" height="30" /></a></td>
				</tr>
				i++;
			}
		}
	</table>
</div>