@model AllUrlViewModel
<div>
	<a class="btn btn-warning" asp-controller="Admin" asp-action="Admin">Admin</a>
	<table border="1">
		<tr>
			<th>№</th>
			<th>Url</th>
			<th>Runs Number</th>
			<th>Time</th>
			<th>Name</th>
			<th>TestTime</th>
		</tr>
		@{
			var i = 1;
			foreach (var url in Model.UrlTests)
			{
				<tr>
					<td>@i)</td>
					<td>@url.Url</td>
					<td>@{
						    if (url.NumberOfRuns != null)
						    {
							    @url.NumberOfRuns
						    }
						    else
						    {
							    <strong>Max</strong>
						    }
					    }</td>
					<td>@url.Time</td>
					<td>@url.Name</td>
					<td><a class="btn btn-warning" asp-controller="Admin" asp-action="CreateUrlTest" asp-route-url="@url.Url" asp-route-user="Admin">CreateUrl</a></td>
					<td><a class="btn btn-warning" asp-controller="UserTest" asp-action="CheckAnswers" asp-route-url="@url.Url" asp-route-user="Admin">All Point</a></td>
				</tr>
				i++;
			}
		}
	</table>
</div>